@import "../../../css/main.less";
@color2:#7a5c20;
//@color2:black;
@colorarch: #f665cc;
@color1 :black;
@size1: 35pt;
@line:37pt;
@size2:57pt;
@line2:57pt;

@size3:10pt;
@line3:13pt;

.font1(@style){
    font-family:'Ocr-pbi-v2';
    font-style:@style;
}

.font2(@style){
    font-family:'Ocr-pbi-cond';
    font-style:@style;
}
.font3(@style){
    font-family:'Ocr-pbi';
    font-style:@style;
}
em{
    .font1(italic);
}

#flow-main .titre {
    -webkit-flow-into: flow-titre;
    flow-into: flow-titre;
}

.flow-titre {
    text-align:center;
    -webkit-flow-from: flow-titre;
    flow-from: flow-titre;
      margin-top:0pt;
    h1{
      margin-top:-0pt;
      margin-bottom:0px;
      font-weight:normal;
      font-size:@size1 !important;
      line-height:@line;
    }
    h1:nth-of-type(odd){
      text-transform:uppercase;
      .font1(normal);
     z-index:1; 
    }
    h1:nth-of-type(even){
      .font1(normal);
      span{
	z-index:100;
      }
    }
    -webkit-transform:rotate(-0deg);
    color:@color2;
}


#flow-main .soustitre {
    -webkit-flow-into: flow-soustitre;
    flow-into: flow-soustitre;
}


#flow-main .presentation {
    -webkit-flow-into: flow-presentation;
    flow-into: flow-presentation;
}

.flow-presentation {
    -webkit-flow-from: flow-presentation;
    flow-from: flow-presentation;
    h2{
      //text-align:center;
     color:@color2;
    .font3(normal);
     font-size:@size3;
     margin:0px;
     //margin-top:11pt;
      padding-left:.65%;
      padding-right:.65%;
      line-height:@line3;
    }
    p{
    font-weight:normal !important;
      margin:0px
    }
    i{
      background:@color2;
      color:white;
      font-style:normal;
      .font1(normal);
      font-weight:normal;
    }
}

i{
  font-weight:100;
}
#flow-main .programme {
    -webkit-flow-into: flow-programme;
    flow-into: flow-programme;
}

.flow-programme {
    -webkit-flow-from: flow-programme;
    flow-from: flow-programme;
    color:@color2;
    .even{
      width:47%;
      height:50%;
      float:left;
      padding-right:15pt;
    }
    h1{
      margin:0px;
    .font1(normal);
      font-size:@size3 !important;
    }
   h1:nth-of-type(1){
      text-align:center; 
      text-transform:uppercase;
   } 
    p{
      margin:0px;
      .font3(normal);
      font-size:@size3 !important;
      i{
	background:@color2;
	font-size:7pt !important;
	color:white;
	font-style:normal;
	.font1(normal);
	font-weight:normal;
    }
    }
    i{
      background:@color2;
      font-size:@size3 !important;
      color:white;
      font-style:normal;
      .font1(normal);
      font-weight:normal;
    }
    h3{
      .font3(normal);
      padding:2pt;
      width:100%;
      margin:0px;
      border-left: 1pt solid @color2;
      border-bottom: 1pt solid @color2;
      font-size:7pt !important;
      line-height:9pt;
      
      i{
	background:@color2;
	font-size:7pt !important;
	color:white;
	font-style:normal;
	.font1(normal);
	font-weight:normal;
    }
    }

    .credits{
      margin-top:200pt;
      width:50%;
      float:left;
      font-size:7pt !important;
      text-align:right !important;
      .font3(normal);
      i{
	background:@color2;
	font-size:7pt !important;
	color:white;
	font-style:normal;
	.font1(normal);
	font-weight:normal;
    }
      
    }

    .site{
      .font1(normal);
      bottom:-15px;
      width:100%;
      font-size:@size1;
      //text-transform:uppercase;
      text-align:center !important; 
      position:absolute;
    }
}

u{
  text-decoration:none;
  .font1(normal);
  font-weight:normal !important;
}
