/* EXPORT */
.bw .fond { background-image: none; }
.bw .rubrique h1 { color: transparent!important; }
.bw .footnotes * { color: transparent!important; }

//.rubrique-title { border-color: @color-fushia; }
//.bw .rubrique-title { border-color: transparent; }
//.bw header { visibility: hidden; }
.bw .chapeau {
    //color: transparent !important;
    //background: transparent !important;
    //background-color: transparent !important;
}
.bw img { visibility: hidden !important; }

.bw .fond-encadre,
.bw .fond-encadre1-border,
.bw .fond-encadre1,
.bw .fond-encadre2-border,
.bw .fond-encadre2,
.bw .fond-encadre3-border,
.bw .fond-encadre3,
.bw .fond-encadre4-border,
.bw .fond-encadre4,
.bw .fond1,
.bw .fond2,
.bw .fond3,
.bw .fond4,
.bw .flow-encadre1-border,
.bw .flow-encadre2-border { visibility: hidden !important; }


.bw .enquete blockquote,
.bw .enquete blockquote footer:before { visibility: hidden !important; }




.color .fin:after,
.color .filet:before,
.color .filet2:before { visibility: hidden!important; }
.color div.body::after{color:white}
.color img { visibility: visible !important; }

.color figure,
.color figcaption p {
    background-color: white !important;
    border-color: white;
}
.color .rubrique-title { border-color: transparent; }
.color .fond-encadre { visibility: visible !important; }
.color .body:after { visibility: hidden !important; }
.color blockquote footer:before { visibility: hidden !important; }

.color .fond-encadre,
.color .fond-encadre1-border,
.color .fond-encadre1,
.color .fond-encadre2-border,
.color .fond-encadre2,
.color .fond-encadre3-border,
.color .fond-encadre3,
.color .fond-encadre4-border,
.color .fond-encadre4,
.color .fond1,
.color .fond2,
.color .fond3,
.color .fond4,
.color .flow-encadre1-border,
.color .flow-encadre2-border { visibility: visible !important; }

.color .enquete blockquote,
.color .enquete blockquote footer:before { visibility: visible !important; }
