/**
 * The less CSS is splitted accross different files for a better organisation.
 *
 * This is the main less css file that defines custom values and requires all
 * the the neccessary dependencies.
 */



/**
 * THE CODE BELOW IS REQUIRED TO MAKE HTML2PRINT WORK.
 */



/**
 * Defines and loads the rules that set the geometry of the page and its
 * representation on screen. This is the core of html2print.
 *
 * Customize the variables to your needs.
 */

/* the geometry of the page */
@page-width: 143mm;
@page-height: 200mm;

/* the size of the crop marks based on scribus defaults */
@crop-size: 34pt;

/* the size of bleed */
@bleed: 14pt;

/* loads the core less file */
@import "html2print.less";


/**
 * THE CODE BELOW IS NOT REQUIRED TO MAKE HTML2PRINT WORK, ALTHOUGH IT PROVES
 * USEFUL IN MANY SITUATIONS.
 *
 * YOU ARE ENCOURAGED TO CUSTOMIZE IT TO YOU NEEDS.
 */



/**
 * Defines and generate helper css rules to absolutly position elements on a
 * grid.
 *
 * Customize the variables to your needs.
 */

@col-number: 7;
@col-gutter: 10pt;

//@row-number: 13;
@row-number: 12;
@row-gutter: 10pt;

@grid-color: rgba(255, 0, 0, 0.25);
@baseline-grid-color: rgba(0, 255, 255, 0.15);

/* Loads the rules for using grids */
@import "grid.less";



/**
 * Loads the rules to outline the main blocs
 */

@import "debug.less";



/**
 * Loads a few less helpers
 */

@import "mixins.less";



/**
 * Defines and loads the rules that set the base layout of the document
 * (header, body, footer)
 *
 * Customize the variables to your needs.
 */

// FIXME: make a case for single page layouts
@page-margin-inside: 5mm;
@page-margin-outside: 5mm;
@page-margin-top: 5mm;
@page-margin-bottom: 5mm;

@import "layout.less";


/**
 * Loads your own styles.
 *
 * Customize the file/path to you needs.
 */

/*@import '/vendors/reset-css/reset.css';*/
/*@import "../vendors/normalize.css/normalize.css";*/
/*@import "../vendors/normalize-opentype.css/normalize-opentype.css";*/
@import "fonts.less";
@import "colors.less";

@line-height: 12pt;
@import "styles.less";

/*@import "export.less";*/
