@import '../../../css/main.less';

before{
   display: none;
}

// @color: #2a4d60;
// @color2: #fa6662;
// @color: #fa6662;
@color: black;
@color2: red;
@size: 24pt;
@size2: @size / 1.5;
@line: @size *1.15;
@line2: @size2 *1.15;

#title{
   text-align: center;
   font-size: @size;
   line-height: @line;
   text-transform: uppercase;
   font-family: 'Pen1';
   color: @color2;
   sup{
      font-size: @size / 2;
      bottom: 8pt;
      position: relative;
   }

}

#artist{
   text-align: center;
   font-size: @size2;
   line-height: @line2;
   font-family: 'Pen1';
   color: @color2;
   sup{
      font-size: @size / 2;
      bottom: 8pt;
      position: relative;
   }

}
#flow-main #pratique{
    -webkit-flow-into: flow-pratique;
            flow-into: flow-pratique;
}

.pratique {
    -webkit-flow-from: flow-pratique;
            flow-from: flow-pratique;
}

#flow-main #title{
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title {
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}
#flow-main #artist{
    -webkit-flow-into: flow-artist;
            flow-into: flow-artist;
}

.flow-artist{
    -webkit-flow-from: flow-artist;
            flow-from: flow-artist;
}
#flow-main #texte{
    -webkit-flow-into: flow-texte;
            flow-into: flow-texte;
}

.flow-texte{
    -webkit-flow-from: flow-texte;
            flow-from: flow-texte;
}
#flow-main #credit{
    -webkit-flow-into: flow-credit;
            flow-into: flow-credit;
}

.flow-credit{
    -webkit-flow-from: flow-credit;
            flow-from: flow-credit;
}

.photo img{
   display: none;
   width: 85%;
   objet-fit: cover;
   // margin-left: -40pt;
}

h1{
   line-height: @line;
   // text-align: center;
}
.flow-title{
   width: auto;
   margin-left: 230pt;
   width: 120%;
   position:absolute;
   margin-top: 163mm;
   transform: rotate(-90deg);
   transform-origin: 0% 0%;

}

.flow-artist{
   width: auto;
   margin-left: 315pt;
   width: 120%;
   position:absolute;
   margin-top: 163mm;
   transform: rotate(-90deg);
   transform-origin: 0% 0%;

}
h2{
   font-size: @size;
   line-height: @line;
   // text-align: center;
}
#pratique{
   font-size: @size2;
   line-height: @line2;
   color: @color;
   font-family: 'Pen1';
   #adress{
      text-align: right;
   }
}
.type_O{
   font-family: 'Pen1';
   color: @color;
   font-size: 1000pt;
}

#texte{
   font-family: 'Pen1';
   font-size: @size / 2.9;
   line-height: @line / 2.9;
   color: @color;
   #en {
      margin-left: 25pt;
      margin-right: -25pt;
   }
   #fr {
      margin-left: -25pt;
      margin-right: 25pt;
   }
   span{
      color: @color;
      padding: 0pt 1pt;
      outline: 0.2pt solid  @color;
   }
   sup{
      font-size: @size2 / 3;
      bottom: 3pt;
      position: relative;
   }
}

#credit{
   font-size: @size / 3.4;
   line-height: @line / 3.4;
   color: @color;
   font-family: 'Pen1';
}


