<header>
    <p class="rubric-title">Entretien</p>
    <h1 class="headline">Titre</h1>
    <h2 class="subhead">Sous-titre</h2>
    <p class="header-byline">Par Noms
        <br>Pho­tos : Noms</p>

    <p class="lead">Chapeau</p>
</header>

<!--PARAGRAPH-->
<p class="question"><abbr>Mé­dor</abbr></p>
<p><abbr></abbr> NOM </p>

<!--PULL-OUT-->
<aside class="pull-out">
    <blockquote>
        <p></p>
    </blockquote>
</aside>

<!--QUESTION-->
<p class="question"><abbr>M</abbr></p>
<p><abbr>Nom</abbr></p>
<p class="question"><abbr>M</abbr></p>
<p class="fin"><abbr>NOM</abbr></p>

<!--AUTEUR-->
<footer >
<p class="footer-byline">nom auteur <sup>licence</sup></p>
    <p class="endnote">Infos additionelles sur l'auteur.</p>
</footer>

<!--NOTES DE BAS DE PAGE-->
<ol class="footnotes">
    <li><a name="" href="">1</a>Footnotes 1</li>
</ol>

<!--IMAGES + LEGENDES + LICENCE-->
<figure>
    <img alt="" src="..." />
    <figcaption>
        <p>Légende</p>
        <footer>Author <small>License</small>
        </footer>
    </figcaption>
</figure>
