/* Here you can put your specific typography, layout styles. */

@font-face {
    font-family:'classique';
    src:url('../fonts/ocr-pbi.ttf');
}
@font-face {
    font-family:'classiqueV2';
    src:url('../fonts/ocr-pbi-V2.ttf');
}
@font-face {
    font-family:'squareV2';
    src:url('../fonts/ocr-pbi-squareV2.ttf');
}

@font-face {
    font-family:'boldV1';
    src:url('../fonts/ocr-pbi-boldV3.ttf');
}
@font-face {
    font-family:'boldV2';
    src:url('../fonts/ocr-pbi-boldV2.ttf');
}
@font-face {
    font-family:'boldV3';
    src:url('../fonts/ocr-pbi-boldV3.ttf');
}
@font-face {
    font-family:'condV1';
    src:url('../fonts/ocr-pbi-condV1.ttf');
}

@cl1:red;
@cl2:green;

.body{
    font-family:'classique';
    height:110%;
}
  .trame{
       color:@cl2;	
	font-size:10pt;
	position:absolute;
	//border:1px solid red;
	top:20mm;
	width:auto;
	right:5mm;
	left:5mm;
	overflow:hidden;
	height:85mm;
    }
#recto{
break-after: region !important;
  
    .titre{
	//z-index:1;
	font-size:125pt;
	text-align:center;
	margin:0 auto;
	position:absolute;
	width:100%;
	margin-top:8%;
	color:@cl1;
	right:0mm;
	line-height:100pt;
	span:nth-of-type(1){
	    font-family:'boldV2';
	}
	span:nth-of-type(2){
	    font-family:'squareV2';
	}
    }

    #auteur{

	color:@cl2;
	z-index:1;
	font-family:'classiqueV2';
	font-size:25pt;
	left:170mm;
	margin-top:27mm;
	line-height:30pt;
	position:absolute;
	div{
	background:white;
	    float:left;
	    width:20pt;
	    margin-left:0mm;
	    padding-right:2mm;
	    border-left:.5mm solid @cl2;
	}
	
    
    }
	#date{
	color:@cl2;
	font-size:10pt;
	  position:absolute;
	  left:5mm;
	    top:5mm;
	}
	#vernissage{
	color:@cl2;
	font-size:10pt;
	    top:5mm;
	    width:50%;
	    left:50%;
	    position:absolute;
	}
	#workshop{
       color:@cl2;	
	font-size:10pt;
	    top:295pt;
	    float:left;
	    position:absolute;
	}
}
#verso{
    font-size:8pt;
    color:@cl2;
    //border:1px solid red;
    overflow:visible;
    .lang:nth-of-type(1), .lang:nth-of-type(2){
	width:32%;
	margin-right:2%;
	float:left;
	line-height:10pt;
    }
    .lang{
	
    }


 
  
}
    #soutient{
	//border:1px solid red;
	z-index:1;
	width:100%;
	//position:absolute;
	height:100mm;
    }
hr{
    background:red
}

u{
    text-decoration: none;
    border-bottom:.5mm solid @cl2;
}
b{
    font-family:'boldV2';
    font-weight:normal;
}


