//palette identité Médor -------------
//bleu gris foncé
@color-A2: rgba(42, 133, 164, 255);
//brun foncé
@color-A3: rgba(177, 69, 66, 255);
//ajune total
@color-A4: rgba(255, 254, 53, 255);
//vert gazon
@color-A4: rgba(57, 145, 79, 255);

//rouge brun
@color-B2: rgba(219, 40, 35, 255);
//jaune clair
@color-B3: rgba(255, 253, 115, 255);
//vert clair
@color-B4: rgba(225, 241, 122, 255);
//bleu ciel
@color-C1: rgba(137, 203, 225, 255);
//rouge
@color-C2: rgba(249, 49, 52, 255);
//orange
@color-C3: rgba(250, 181, 71, 255);
//beige verdâtre
@color-C4: rgba(243, 253, 207, 255);
//bleu gris clair
@color-D1: rgba(169, 213, 222, 255);
//orange clair
@color-D3: rgba(247, 229, 149, 255);
//beige
@color-E1: rgba(233, 234, 225, 255);
//nacre
@color-E3: rgba(254, 250, 194, 255);
//rose peteur
@color-F2: rgba(243, 225, 226, 255);


// palette Médor#1 --------------------
//beige
@color-beige:#fefac2;
//bleu-gris - portrait #1
@color-bleu-gris:#1e60e1;
//bleu clair turquoise - traduction #1
@color-bleu-clair: #0AB1AF;
//fushia - libre de droit #1
@color-fushia:#FE02FC;
@color-pomme:#e1f17a;
// vert - lobbycratie #1
@color-vert:#3AAB0D;
// orange brun - entretien #1
@color-brun:#d38d5f;

// palette Médor#2 spyche-riso--------------------
//bleu riso
@color-blue-deep:#1b3c6c;
@color-blue-kashmir:#547291;
@color-blue-gris-fonce:#51596c;
@color-blue-egyptien-intense:#293ea2;
@color-blue-gris-clair:#5791b9;
//bleu bug
@color-blue:#0000ff;

//violet riso
@color-violet-nuit:#662d4d;
@color-mures-pasmures:#cd4f94;
@color-fushia:#c54764;
@color-magenta:#f93134;
@color-rose-bebe:#f49d92;
@color-rose-terrecuite:#de7162;

//rouge orangés riso
@color-rouge-brun:#5d151f;
@color-ocre-rouge:#ad2519;
@color-ocre-brun:#a84229;
@color-orange:#ea6d1d;
@color-ocre-rose:#d86630;
@color-brun:#c0682b;

// jaune riso
@color-jaune-nuit:#ac8b21;
@color-gold:#d6b229;
@color-jaune-pasmur:#d2bf1d;
@color-jaune-marguerite:#ffe645;
@color-jaune-souris:#ccbc6c;
@color-gold-luxor:#9f8741;

// vert riso
@color-vert-canard:#115748;
@color-vert-hippie:#578454;
@color-vert-fougere:#518f3f;
@color-vert-pomme:#54bb42;
@color-vert-laurier:#80b38a;
@color-vert-cuir:#6a8a77;

// autres riso
@color-irish-coffee:#5f4329;
@color-maron-pale:#9d7955;
@color-vieille-rose:#b7705e;
@color-camel:#cdab85;
@color-maron-bourbon:#a67242;

@color-vert-finlande:#626d5f;
@color-gris-militaire:#978e63;
@color-gris-agave:#cabca2;
@color-rose-pale:#f3e1e2;
@color-vert-gris-clair:#96a187;

//couleur été (medor 3)
@color-ete-jaune:#fffd73;
@color-ete-soleil:#fffe35;
@color-ete-rose-pale:#ffcce6;
@color-ete-rose:#ff99cc;
@color-ete-vert-pale:#a6ffcc;
@color-ete-vert:#71f6b7;
@color-ete-majenta:#ff0961;
@color-ete-nuit:#004080;
@color-ete-violet:#7f5aa1;
@color-ete-sapin:#0c443f;

@color-black: black;

@color-bleu-mons:#8cb2bd;

//couleur automne (medor 4)

@color-vieux-turquoise:#a1d0c0;
@color-jaune-sale:#e1d521;
@color-orange-sale:#d85b23;
@color-vieux-rouge:#a4292b;
@color-bleu-sexe:#1f37ff;
@color-jaune-sexe:#eeff2a;
@color-bleu-ciel-sexe:#71f8d2;
@color-vert-punch-sexe:#5fff00;
@color-rose-peche-sexe:#f84d22;
@color-vieille-peche-sexe:#ba536d;
@color-rose-biche: #fb2928;
@color-vert-prairie-loup:#acea9a;
@color-vert-foret-loup:#b1d0a3;
@color-jaune-maison-loup:#fed137;
@color-bleu-archives:#6479a0;
@color-bleu-lumiere-archives:#537fc3;
@color-bleu-contour-archives:#62e7ff;
@color-gris-contour-archives:#b3c8d0;
@color-vert-billet-100:#30721E;
@color-orange-seventies:#ff8126;
@color-orange-seventies-petant:#ff8605;
@color-vert-sapin-fonce:#243f1c;
@color-vert-moisi:#71BD9F;
